<div class="center960" *ngIf="uiStatus == 'loaded'">
  <h2 *ngIf="category">Wunschliste {{ category.name }}</h2>

  <ul class='mdl-list'>
    <li *ngFor="let wunsch of (items | myMatchCategory:category)" class="mdl-list__item mdl-list__item--three-line">
      <span class="mdl-list__item-primary-content">
        <a [routerLink]="['/wunschliste/details', wunsch.id ]">
          <i class="material-icons mdl-list__item-avatar noImage" *ngIf="!wunsch.ImgageUrl">chevron_right</i>
          <img class="previewImage" [src]="wunsch.ImgageUrl" *ngIf="wunsch.ImgageUrl">
          <span>{{ wunsch.Title }}</span>
          <span class="mdl-list__item-text-body">
            {{ wunsch.Description | mySummary }}
          </span>
        </a>
      </span>
    </li>
  </ul>
</div>
<div class="spinner" *ngIf="uiStatus == 'loading'">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<div class="error" *ngIf="uiStatus == 'error'">
  Ein Fehler ist aufgetreten. Bitte die Seite neu laden.<br>
  {{ errorText }}
</div>
