<div>
  <app-loader *ngIf="isLoading"></app-loader>
  <mat-card class="itemcard" *ngIf="item">
    <img [src]="item.imagesrc">
    <mat-card-header>
      <h1>{{ item.title }}</h1>
    </mat-card-header>
    <mat-card-content>
      <div>{{ item.description }}</div>
      <div class="editbutton"><button mat-fab [routerLink]="['/items', item.id, 'edit']">🖉</button></div>
      <div *ngIf="item.buyurl">
        Kauf-Adresse: <a href="{{ item.buyurl }}">{{ item.buyurl }}</a>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex-container flex-wrap">
        <button [disabled]="revealStatus || busy" mat-flat-button color="primary" (click)="updateAndRevealStatus()"
          class="fi">Reservierungsstatus</button>
        <span *ngIf="busy" class="busytext busytextStatus" class="fi">Wird geladen…</span>
        <span *ngIf="revealStatus && !busy"
          class="rstatus fi">{{ isReserved ? 'Reserviert' : 'Nicht reserviert' }}</span>
        <button *ngIf="revealStatus && !isReserved && !busy" mat-flat-button color="primary" (click)="openDialog()"
          class="fi">Reservieren</button>
        <button *ngIf="revealStatus && isReserved && !busy" mat-flat-button color="primary" (click)="openDialog()"
          class="fi">Reservierung löschen</button>
        <span class="flexspacer"></span>
        <a mat-button [routerLink]="['/categories', item.category]" class="fi">zurück</a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>