<div>
  <app-loader *ngIf="isLoading"></app-loader>
  <mat-card class="itemcard" *ngIf="item">
    <img [src]="item.imagesrc">
    <mat-card-header>
      <h1>{{ item.title }}</h1>
    </mat-card-header>
    <mat-card-content>
      {{ item.description }}
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="revealStatus || busy" mat-flat-button color="primary" (click)="updateAndRevealStatus()">Reservierungsstatus</button>
      <span *ngIf="busy" class="busytext busytextStatus">Wird geladen…</span>
      <span *ngIf="revealStatus && !busy" class="rstatus">{{ item.isReserved ? 'Reserviert' : 'Nicht reserviert' }}</span>

      <button *ngIf="revealStatus && !item.isReserved && !busy" mat-flat-button color="primary" (click)="openDialog()">Reservieren</button>
      <button *ngIf="revealStatus && item.isReserved && !busy" mat-flat-button color="primary" (click)="openDialog()">Reservierung löschen</button>
    </mat-card-actions>
  </mat-card>
</div>
