.itemcard img {
  float: left;
  margin: 30px 10px 0 0;
  max-width: 120px;
  max-height: 170px;
  object-fit: cover;
}

.busytextStatus,
.rstatus {
  margin-left: 20px;
  margin-right: 20px;
}

.editbutton {
  text-align: right;
}

.fi {
  flex-grow: 1;
  flex-shrink: 0;
}
