<div [formGroup]="itemForm">
  <app-loader *ngIf="isLoading"></app-loader>
  <mat-card *ngIf="hasData">
    <mat-card-title>
      <mat-toolbar>
        <span>Wunschzetteleintrag</span>
        <span class="flexspacer"></span>
        <button mat-button color="warn" [routerLink]="['/items', id, 'delete']" *ngIf="id > 0">Löschen</button>
      </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field class="item-form-fw" disabled="true">
        <input matInput placeholder="Bezeichnung" formControlName="title" required>
      </mat-form-field>
      <mat-form-field class="item-form-fw">
        <textarea matInput placeholder="Beschreibung" formControlName="description" cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"></textarea>
      </mat-form-field>
      <mat-form-field class="item-form-fw">
        <input matInput placeholder="Kategorie" formControlName="category" required>
      </mat-form-field>
      <mat-form-field class="item-form-fw">
        <input matInput placeholder="Bild-Adresse" formControlName="imagesrc">
      </mat-form-field>
      <mat-form-field class="item-form-fw">
        <input matInput placeholder="Kauf-Adresse" formControlName="buyurl">
      </mat-form-field>
      <span *ngIf="formState == formStateEnum.Loading" class="busytext">Wird geladen…</span>
      <mat-form-field class="item-form-fw">
        <input matInput placeholder="{{ captchaChallengeText }}" formControlName="captchaResponse" required>
      </mat-form-field>
      <div *ngIf="formState == formStateEnum.Success" class="serviceok">OK: {{ resultText }}</div>
      <div *ngIf="formState == formStateEnum.Error" class="serviceerror">
        Achtung: {{ resultText }}<br>
      </div>
      <div *ngIf="formState == formStateEnum.Fail" class="servicefail">Fehler: {{ resultText }}</div>
      <button *ngIf="formState == formStateEnum.Error || formState == formStateEnum.Fail" mat-stroked-button
        color="primary" (click)="loadCaptcha()">Neuer Versuch</button>
      <div *ngIf="formState == formStateEnum.Submitting" class="busytext">Wird übertragen…</div>
    </mat-card-content>
    <mat-card-actions *ngIf="hasData">
      <div class="flex-container">
        <button mat-raised-button color="primary" (click)="submitClick()"
          [disabled]="formState != formStateEnum.WaitingForUserInput || !itemForm.valid">Speichern</button>
        <span class="flexspacer"></span>
        <a mat-button [routerLink]="['/items', id]" *ngIf="id > 0">zurück</a>
        <a mat-button routerLink="/" *ngIf="id == 0">zurück</a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>