<div class="mdl-card mdl-shadow--4dp formcard">
  <div class="mdl-card__title">
    <h1 class="mdl-card__title-text">Wunschzettel</h1>
  </div>
  <div class="mdl-card__supporting-text">
    <p>
      Version 26
    </p>
    <p>
      powered by<br>
      <img src="https://ewus.de/sites/ewus.de/themes/ebartik/logo.svg" alt="EWUS" style="width:64px;height:64px;">
    </p>
  </div>
  <div class="mdl-card__actions">
    <a class="mdl-button close" [routerLink]="['/wunschliste']">Schließen</a>
  </div>
</div>
