.preview img,
.preview .no-img {
  height: 72px;
  width: 72px;
  float: left;
  margin-right: 5px;
  object-fit: cover;
}

.preview {
  height: 52px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.itembox {
  margin: 16px;
}

.category {
  border: 3px #eee solid;
  border-radius: 20px;
  background-color: #eee;
  box-sizing: border-box;
  padding: 3px;
}