<div>
  <app-loader *ngIf="isLoading"></app-loader>
  <div *ngIf="items && items.length > 0" class="td-none">
      <a *ngFor="let item of items" [routerLink]="['/items', item.id]">
        <mat-card class="itembox">
          <mat-card-title>
            {{ item.title }}
          </mat-card-title>
          <mat-card-content class="preview">
            <img [src]="item.imagesrc" *ngIf="item.imagesrc">
            <span class="no-img" *ngIf="!item.imagesrc"></span>
            {{ item.description }}
          </mat-card-content>
        </mat-card>
      </a>
  </div>
</div>
