<mat-card>
  <mat-card-title-group>
    <mat-card-title>Faust I + II</mat-card-title>
    <mat-card-subtitle>Buch</mat-card-subtitle>
  </mat-card-title-group>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <div class="f">
      <p>
        Mit Goethes Faust wird Johann Wolfgang von Goethes Bearbeitung des
        Fauststoffs bezeichnet. Der Begriff kann sich auf den ersten Teil der
        durch Goethe geschaffenen Tragödie, auf deren ersten und zweiten Teil
        gemeinsam oder insgesamt auf die Arbeiten am Fauststoff beziehen, die
        Goethe durch sechzig Jahre hindurch immer wieder neu aufnahm. Er umfasst
        in diesem letzteren Sinne auch die Entwürfe, Fragmente, Kommentare und
        Paralipomena des Dichters zu seinem Faustwerk und zum Fauststoff.
      </p>
      <div>
        <img mat-card-lg-image
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Kersting_-_Faust_im_Studierzimmer.jpg/220px-Kersting_-_Faust_im_Studierzimmer.jpg" />
      </div>
    </div>
    <div>
      Kauf-Adresse:
      <a href="https://de.wikipedia.org/wiki/Goethes_Faust">
        https://de.wikipedia.org/wiki/Goethes_Faust
      </a>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Reservieren und Status</mat-panel-title>
      </mat-expansion-panel-header>
      <app-edit-reservation></app-edit-reservation>
    </mat-expansion-panel>
    <div class="f mt24">
      <button mat-flat-button color="accent">Bearbeiten</button>
      <div class="spacer"></div>
      <button mat-flat-button color="primary">Zurück</button>
    </div>
    </mat-card-actions>
    <mat-card-footer>
  </mat-card-footer>
</mat-card>