<dialog #dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title">{{neuerWunschStatus ? "Reservieren" : "Reservierung löschen"}}?</h4>
  <div class="mdl-dialog__content">
    <p>
      {{wunsch.Title}}
    </p>
    <p>
      Captcha
    </p>
  </div>
  <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
    <button type="button" class="mdl-button close" (click)="onClose()">Schließen</button>
    <button type="button" class="mdl-button">{{neuerWunschStatus ? "Reservieren" : "Reservierung löschen"}}</button>
  </div>
</dialog>