<div class="card-wide mdl-card mdl-shadow--4dp">
  <div class="mdl-card__supporting-text">
    <img [src]="wunsch.ImgageUrl" class="wunschbild" />
    <h3>{{ wunsch.Title }}</h3>
    <p>{{ wunsch.Description }}</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-js-button">
      Reservierungsstatus
    </button>
    <!-- Primary-colored flat button -->
    <button class="mdl-button mdl-js-button mdl-button--primary">
      Button
    </button>
    <!-- Accent-colored flat button -->
    <button class="mdl-button mdl-js-button mdl-button--accent">
      Button
    </button>
  </div>
</div>