<div class="card-wide mdl-card mdl-shadow--4dp">
  <div class="mdl-card__supporting-text">
    <img [src]="wunsch.ImgageUrl" class="wunschbild" />
    <h3>{{ wunsch.Title }}</h3>
    <p>{{ wunsch.Description }}</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="mdl-button mdl-js-button" (click)="onShowStatus()" [disabled]="!statusButtonActive">
      Reservierungsstatus
    </button>
    <span *ngIf="errorText" class="error">
      {{ errorText }}
    </span>
    <!-- Primary-colored flat button -->
    <button *ngIf="statusIsVisible && wunschStatus" class="mdl-button mdl-js-button mdl-button--primary">
      Reservieren
    </button>
    <!-- Accent-colored flat button -->
    <button *ngIf="statusIsVisible && !wunschStatus" class="mdl-button mdl-js-button mdl-button--accent">
      Reservierung löschen
    </button>
  </div>
</div>