.wunschbild {
  float: left;
  margin: 30px 10px 0 0;
  max-width: 120px;
  max-height: 170px;
}
.card-wide.mdl-card {
  max-width: 960px;
  width: 100%;
  position: relative
}
.error {
  color: #600;
}
.rstatus {
  margin-left: 20px;
  margin-right: 20px;
}
.editbutton {
  position: absolute;
  bottom: 60px;
  right: 5px;
}