<h1 mat-dialog-title>{{ title }}</h1>

<div mat-dialog-content class="mat-typography">
  <div class="fdc">
    <div *ngIf="challenge$ | async as challenge">
      <ng-container *ngIf="challenge.success">
        <mat-form-field appearance="fill">
          <mat-label>{{ challenge.data }}</mat-label>
          <input matInput placeholder="Zahl" [formControl]="captchaInputValue" />
          <mat-hint>Bitte als Zahl eingeben</mat-hint>
        </mat-form-field>
      </ng-container>
    </div>
    <div class="f jcc">
      <button mat-flat-button [color]="requestPending ? '' : 'accent'" (click)="challengeRequest()"
        [disabled]="requestPending">
        <mat-spinner diameter="36" *ngIf="requestPending; else refreshbutton"></mat-spinner>
        <ng-template #refreshbutton>
          Neue Aufgabe
        </ng-template>
      </button>
    </div>
    <div *ngIf="updateResultMessage" class="error">
      {{ updateResultMessage }}
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>Abbruch</button>
  <button mat-flat-button color="primary" (click)="updateRequest()">{{ data.targetState === 'clear' ? 'Löschen' :
    'Reservieren' }}</button>
</div>