.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.itemcard {
  margin: 8px;
}

main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}