html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.mdl-layout__title a {
  color: #fff;
  text-decoration: none;
}

.mdl-menu__item a {
  color: rgba(0,0,0,.87);
  text-decoration: none;
}
