/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card,
.centerbox {
  padding: 16px;
  margin: 8px auto;
  max-width: 520px;
}

.c {
  text-align: center;
}

.f {
  display: flex;
}

.mt24 {
  margin-top: 24px;
}

.error {
  color: rgb(185, 1, 1);
}
.spacer {
  flex: 1 0 0;
}