/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.td-none a,
.td-none a:hover,
.td-none a:active {
  text-decoration: none
}

.busytext{
  animation: busytextFrames ease-out 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes busytextFrames{
  0% {
    opacity:1;
  }
  50% {
    opacity:0.36;
  }
  100% {
    opacity:1;
  }
}

