.amber {
  background-color: #f7e3aa;
  color: #553102;
}

.green {
  background-color: rgb(162, 253, 162);
  color: rgb(3, 119, 3);
}
.gray {
  background-color: rgb(168, 168, 168);
  color: rgb(0, 0, 0);
}
