<div [ngSwitch]="reservationStatus$ | async">
  <!-- requestPending -->
  <mat-spinner *ngSwitchCase="'requestPending'" mode="indeterminate"></mat-spinner>
  <!-- unknown -->
  <div *ngSwitchCase="'unknown'" class="fc p5 gray">
    <mat-icon aria-hidden="false" aria-label="Unbekannt">block</mat-icon>
    Unbekannter Status
  </div>
  <!-- Fehler -->
  <div *ngSwitchCase="'updateFailed'" class="error">
    <p class="fc p5">
      <mat-icon aria-hidden="false" aria-label="Reserviert">heart_broken</mat-icon>
      Da ist etwas schiefgelaufen.
    </p>
    <p>
      {{ reservationErrorText$ | async }}
    </p>
  </div>
  <!-- reserved -->
  <div *ngSwitchCase="'reserved'">
    <div class="fc p5 amber">
      <mat-icon aria-hidden="false" aria-label="Reserviert">warning_amber</mat-icon>
      Es liegt bereits eine Reservierung vor.
    </div>
    <div class="action">
      <button mat-flat-button color="primary">Reservierung löschen …</button>
    </div>
    </div>
  <!-- free / unreserved / clear -->
  <div *ngSwitchCase="'free'">
    <div class="fc p5 green">
      <mat-icon aria-hidden="false" aria-label="Frei">check_circle</mat-icon>
      Es liegt keine Reservierung vor.
    </div>
    <div class="action">
      <button mat-flat-button color="primary">Reservieren …</button>
    </div>
  </div>
</div>
