<h1 mat-dialog-title>{{ titleAndButtonText }}?</h1>
<div mat-dialog-content>
    <span *ngIf="dlgState == dlgStateEnum.Loading" class="busytext">Wird geladen…</span>
    <label *ngIf="dlgState == dlgStateEnum.Captcha">
        {{ captchaChallengeText }}:
        <input *ngIf="!busy" type="text" [formControl]="captchaResponse">
    </label>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{ titleAndButtonText }}</button>
  <button mat-button [mat-dialog-close]>zurück</button>
</div>
