<h1 mat-dialog-title>{{ titleAndButtonText }}?</h1>
<div mat-dialog-content>
    <span *ngIf="dlgState == dlgStateEnum.Loading" class="busytext">Wird geladen…</span>
    <label *ngIf="dlgState == dlgStateEnum.Captcha">
        {{ captchaChallengeText }}:
        <input *ngIf="!busy" type="text" [formControl]="captchaResponse">
    </label>
    <div *ngIf="dlgState == dlgStateEnum.Submitting" class="busytext">Wird übertragen…</div>
    <div *ngIf="dlgState == dlgStateEnum.Success" class="serviceok">OK: {{ resultText }}</div>
    <div *ngIf="dlgState == dlgStateEnum.Error" class="serviceerror">
      Achtung: {{ resultText }}<br>
    </div>
    <div *ngIf="dlgState == dlgStateEnum.Fail" class="servicefail">Fehler: {{ resultText }}</div>
    <button 
      *ngIf="dlgState == dlgStateEnum.Error || dlgState == dlgStateEnum.Fail"
      mat-stroked-button color="primary" (click)="retryCaptcha()"
    >Neuer Versuch</button>
</div>
<div mat-dialog-actions>
  <button
    mat-flat-button color="primary" (click)="submitClick()"
    [disabled]="dlgState != dlgStateEnum.Captcha"
  >{{ titleAndButtonText }}</button>
  <button 
    mat-stroked-button color="warn" [mat-dialog-close]
    [disabled]="dlgState == dlgStateEnum.Submitting || dlgState == dlgStateEnum.Loading"
  >zurück</button>
</div>
