<h1 mat-dialog-title>{{ titleAndButtonText }}?</h1>
<div mat-dialog-content>
    <span *ngIf="dlgState == dlgStateEnum.Loading" class="busytext">Wird geladen…</span>
    <label *ngIf="dlgState == dlgStateEnum.Captcha">
        {{ captchaChallengeText }}:
        <input *ngIf="!busy" type="text" [formControl]="captchaResponse">
    </label>
    <span *ngIf="dlgState == dlgStateEnum.Submitting" class="busytext">Wird übertragen…</span>
    <span *ngIf="dlgState == dlgStateEnum.Success" class="serviceok">OK: {{ resultText }}</span>
    <span *ngIf="dlgState == dlgStateEnum.Error" class="serviceerror">Achtung: {{ resultText }}</span>
    <span *ngIf="dlgState == dlgStateEnum.Fail" class="servicefail">Fehler: {{ resultText }}</span>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="submitClick()">{{ titleAndButtonText }}</button>
  <button mat-button [mat-dialog-close]>zurück</button>
</div>
